<a href="https://colab.research.google.com/github/SelikemVan/Mini_Challenges/blob/main/MIini_Challenge1234567%268.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# MINI CHALLENGE #1:

# Write a code that takes in a string and prints it out on the screen except for any letter 'T'. You can replace the letter 'T' with '*'.

string = input("Enter a string: ")
new_string = ""

for char in string:
    if char == "T":
        new_string += "*"
    else:
        new_string += char

print(new_string)

Enter a string: The colour of the table is brown
*he colour of the table is brown

In [ ]:
# MINI CHALLENGE #2:

# Write a code that takes in the maximum and minimum limits from the user and prints out even numbers only between the provided range

minimum = int(input("Enter the minimum limit: "))
maximum = int(input("Enter the maximum limit: "))

for i in range(minimum, maximum+1):
    if i%2 == 0:
        print(i)

Enter the minimum limit: 1
Enter the maximum limit: 10
2
4
6
8
10

In [ ]:
# MINI CHALLENGE #3:

# Write a code that generates the following table:

for num in range(1, 11):
    square = num ** 2
    cube = num ** 3
    print(num, square, cube)

1 1 1
2 4 8
3 9 27
4 16 64
5 25 125
6 36 216
7 49 343
8 64 512
9 81 729
10 100 1000

In [ ]:
# MINI CHALLENGE #4:
# Write a code that displays numbers from 1 to 30 using for and while loops

# Using for loop
for num in range(1, 31):
    print(num)
# Using while loop
num = 1
while num <= 30:
    print(num)
    num += 1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30

In [ ]:
# MINI CHALLENGE #5

import random

while True:
    # roll the dice and generate random numbers between 1 and 6
    dice1 = random.randint(1, 6)
    dice2 = random.randint(1, 6)

    print("Dice 1:", dice1)
    print("Dice 2:", dice2)

    # ask the user if they want to continue or exit the game
    play_again = input("Do you want to keep playing? (y/n) ").lower()

    # if the user wants to exit, break out of the loop
    if play_again == 'n':
        print("Thanks for playing!")
        break

Dice 1: 1
Dice 2: 5
Do you want to keep playing? (y/n) y
Dice 1: 2
Dice 2: 6
Do you want to keep playing? (y/n) y
Dice 1: 4
Dice 2: 3
Do you want to keep playing? (y/n) y
Dice 1: 4
Dice 2: 6
Do you want to keep playing? (y/n) n
Thanks for playing!

In [ ]:
# MINI CHALLENGE #6:

# Write a code that continiously gets data from the user and calculates the average and print out on the screen. The code exits when the user enters 'e'.

total = 0
count = 0

while True:
    num = input("Enter a number (or 'e' to exit): ")

    if num == 'e':
        break

    total += int(num)
    count += 1
    average = total / count

    print(f"Current average: {average}")

Enter a number (or 'e' to exit): 5
Current average: 5.0
Enter a number (or 'e' to exit): e

In [ ]:
# MINI CHALLENGE #7:

# Write a code that takes in a number (range between 1 and 9) from the user and print out the multiplication table up until that number.
num = int(input("Enter a number between 1 and 9: "))

if num < 1 or num > 9:
    print("Invalid input! Number must be between 1 and 9.")
else:

    for i in range(1, num+1):
        for j in range(1, 13):
            print(f"{i} x {j} = {i*j}")
        print()

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
1 x 11 = 11
1 x 12 = 12

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
2 x 11 = 22
2 x 12 = 24

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
3 x 11 = 33
3 x 12 = 36

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
4 x 11 = 44
4 x 12 = 48

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
5 x 11 = 55
5 x 12 = 60

In [ ]:
# MINI CHALLENGE #8:

# Write a code that takes in a list of prices of 7 items and then divide each price by the sum of all the prices
prices = [10, 20, 30, 40, 50, 60, 70]
total_price = sum(prices)
prices_normalized = [price / total_price for price in prices]

print(prices_normalized)

[0.03571428571428571, 0.07142857142857142, 0.10714285714285714, 0.14285714285714285, 0.17857142857142858, 0.21428571428571427, 0.25]